## 500city_explore - Exploring the data from 500 cities data set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import cleansed data sets

In [29]:
data = pd.read_csv('../data/cleansed/data.csv',index_col=0)
locations = pd.read_csv('../data/cleansed/locations.csv',index_col=0)

In [36]:
locations.head()

,uniqueid,stateabbr,cityname,geographiclevel,tractfips,cityfips,statedesc,latitude,longitude
6325,0107000,AL,Birmingham,City,NaN,107000.0,Alabama,-86.798817,33.527566
40098,0107000-01073000100,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.722832,33.579433
2125,0107000-01073000300,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.752434,33.542821
20523,0107000-01073000400,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.764047,33.563245
1727,0107000-01073000500,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.774913,33.544240

# Check for missing data

In [62]:
#data = data.join(locations[['cityname','geographiclevel','uniqueid']].set_index('uniqueid'),on='uniqueid',how='left',)
data.describe().sort_values('count',axis=1)

,COREW,COREM,TEETHLOST,MAMMOUSE,COLON_SCREEN,PAPTEST,ACCESS2,BINGE,SLEEP,PHLTH,...,COPD,CHOLSCREEN,CHECKUP,CHD,CASTHMA,CANCER,BPMED,BPHIGH,DENTAL,populationcount
count,28091.000000,28097.000000,28140.000000,28163.000000,28181.000000,28193.000000,28199.000000,28200.000000,28200.000000,28200.000000,...,28200.000000,28200.000000,28200.000000,28200.000000,28200.000000,28200.000000,28200.000000,28200.000000,28200.000000,2.820000e+04
mean,0.287004,0.299446,0.162323,0.749657,0.593809,0.789161,0.174237,0.167900,0.370524,0.129222,...,0.061554,0.726560,0.683670,0.056381,0.094804,0.055842,0.719670,0.304917,0.598970,3.285559e+04
std,0.072547,0.064604,0.084670,0.050455,0.092823,0.063533,0.098298,0.038247,0.063665,0.043165,...,0.024407,0.083061,0.061276,0.020961,0.017219,0.017869,0.078521,0.082096,0.130059,2.601662e+06
min,0.096000,0.131000,0.029000,0.414000,0.234000,0.376000,0.024000,0.024000,0.185000,0.031000,...,0.009000,0.217000,0.454000,0.002000,0.053000,0.007000,0.115000,0.049000,0.189000,5.100000e+01
25%,0.231000,0.250000,0.096000,0.718000,0.529000,0.751000,0.099000,0.144000,0.325000,0.096000,...,0.044000,0.678000,0.639750,0.043000,0.082000,0.044000,0.680000,0.254000,0.502000,2.500000e+03
50%,0.287000,0.299000,0.144000,0.756000,0.607000,0.799000,0.151000,0.165000,0.363000,0.122000,...,0.057000,0.734000,0.681000,0.054000,0.091000,0.054000,0.730000,0.293000,0.614000,3.694500e+03
75%,0.339000,0.346000,0.212000,0.788000,0.666000,0.838000,0.227000,0.189000,0.411000,0.157000,...,0.074000,0.785000,0.727000,0.067000,0.104000,0.065000,0.772000,0.344000,0.704000,5.080000e+03
max,0.538000,0.522000,0.550000,0.889000,0.815000,0.915000,0.641000,0.432000,0.598000,0.377000,...,0.250000,0.955000,0.894000,0.346000,0.193000,0.231000,0.932000,0.710000,0.871000,3.087455e+08

#### There only seems to be 7 columns with missing data out of 29. The most missing information is 109 rows or .3% of information. 

#### Next I'll check to see where the missing data is coming from

In [161]:
# pull dataframe of missing data, join city and geography type, and get a count by geography type.
missingData = data[data.isnull().values].join(locations[['uniqueid','cityname','geographiclevel']].set_index('uniqueid'),on='uniqueid',how='left')

#value counts of missing data by geographic level
print(missingData['geographiclevel'].value_counts(),end='\n\n')

#value counts of all data by geographic level
print(data.join(locations[['uniqueid','cityname','geographiclevel']].set_index('uniqueid'),on='uniqueid',how='left')['geographiclevel'].value_counts())

Census Tract    336
Name: geographiclevel, dtype: int64

Census Tract    27198
City             1000
US                  2
Name: geographiclevel, dtype: int64

#### As we can see there are only 336 census tracts of missing data out of 27198 (1%). No cities rolled up cities are missing data as well as the rolled up united states.
#### Now I'll build a dataframe that includes only missing data grouped by city, showing the mean population of the census tracts with missing data, the count of census tracts in each city missing data, the count of total census tracts from those cities and the % of census tracts that are missing from each city

In [175]:
missingDataPopMean = missingData.groupby('cityname')['populationcount'].mean()
missingDataCensusCount = missingData.groupby('cityname')['uniqueid'].count()
missingDataJoined = pd.concat([missingDataPopMean,missingDataCensusCount],axis=1,keys=['AvgPop','MissingCensusCount'])
fullDataCensusCount = data.join(locations[['uniqueid','cityname','geographiclevel']].set_index('uniqueid'),on='uniqueid',how='left').groupby('cityname')['uniqueid'].count()
missingDataCities = missingDataJoined.join(fullDataCensusCount,how='left')
missingDataCities.columns = ['Avg Population','Num Census Tracts Missing','Total Census Tract']
missingDataCities['perMissing'] = missingDataCities.iloc[:,1]/missingDataCities.iloc[:,2]
missingDataCities.sort_values('perMissing',ascending=False,inplace=True)
print('TOP AND BOTTOM 5 Cities Missing Percentage Of Censuses')
pd.concat([missingDataCities.head(5),missingDataCities.tail(5)])

TOP AND BOTTOM 5 Cities Missing Percentage Of Censuses

,Avg Population,Num Census Tracts Missing,Total Census Tract,perMissing
cityname,,,,
Santa Maria,147.000000,6,20,0.300000
Fayetteville,1709.733333,15,69,0.217391
Rock Hill,1762.000000,5,24,0.208333
Gulfport,85.000000,5,24,0.208333
Missouri City,56.750000,4,20,0.200000
Kansas City,75.000000,1,218,0.004587
Dallas,76.000000,1,306,0.003268
San Antonio,66.000000,1,313,0.003195
Los Angeles,9344.000000,3,996,0.003012
Phoenix,684.000000,1,358,0.002793

take average values within cities where there are more than 3 census tracts<br>
take average values within states where there are less than 3 census tracts in a city

In [123]:
testData = data.drop(['datavaluetypeid','populationcount'],axis=1).join(locations[['uniqueid','cityname']].set_index('uniqueid'),on='uniqueid',how='left').copy()

In [179]:
print('Show 5 city\'s with missing data. confirm when filled they equal city average for that value')
testData[['cityname','TEETHLOST']].sort_values('TEETHLOST').tail(5)

Show 5 city's with missing data. confirm when filled they equal city average for that value

             cityname  TEETHLOST
26474   Missouri City        NaN
26713      San Angelo        NaN
27087           Tyler        NaN
27752      Portsmouth        NaN
27919  Virginia Beach        NaN

In [180]:
testData.groupby('cityname')['TEETHLOST'].transform(lambda x: x.fillna(np.mean(x)))

ValueError: Length mismatch: Expected axis has 28198 elements, new values have 28200 elements